* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
p {
  color: #334155;
  font-weight: 600;
}
input {
  color: #8b8e95;
  border: solid #0ca5e9 1px;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  padding: 4px;
}
button {
  color: white;
  background-color: #121316;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  padding: 4px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 480px;
  height: 655px;
}
.container1 {
  padding: 32px;
  gap: 8px;
}
.container2 {
  gap: 8px;
  width: 100%;
  padding: 0 32;
}
.container3 {
  gap: 8px;
  width: 100%;
  padding: 130 32;
}
.container4 {
  gap: 8px;
  width: 100%;
  padding: 130 32;
  display: flex;
}
.container5 {
  gap: 8px;
  width: 416px;
  height: 180px;
  background-color: #7f7f800d;
  padding: 0 32;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.head {
  font-size: 24px;
  color: #202124;
}
.head1 {
  font-size: 18px;
  color: #8e8e8e;
}
.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202124;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: white;
}
